<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>SaltChat_V2</title>
    <!---BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/avatars.css') }}" />
</head>
<body>
    <div id="body-wrap">
        <h3> Select avatar for your user </h3>
        <div id="avatar-selections-container">
            <form id="avatar-selections" action="/avatars" method="post">
                {% for image in range(1,imagecount) %}
                    <div class="list-of-avatars">
                        <label for="{{ image }}-avatar"><img src="static/images/{{ image }}.png" /></label>
                        <input type="radio" name ="avatar" class="avatar-img" id = "{{ image }}-avatar" value="{{ image }}">
                    </div>
                {% endfor %}
                <input type="submit" value="Confirm">
            </form>
        </div>
    </div>
</body>
</html>